html, body {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
}

.col-xs-2, .col-xs-10 {
    height: 80%;
}

.col-xs-2 {
    overflow: auto;
    overflow-x: hidden;
}

#msgList {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
}

.red1{
    color: #B94A48;
}

.red2{
    color: #cc0000;
}